<mat-table #table [dataSource]="users" class="mat-elevation-z8 user-list">
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.login}}</mat-cell>
    </ng-container>
    <mat-header-row
      *matHeaderRowDef="displayedColumns;sticky:true"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns;" [routerLink]="['/user-detail', row.login]"></mat-row>
  </mat-table>
